
.swiper-container {
    overflow-y: hidden;
    height: 100%;
}
.swiper-slide {
    text-align: center;    
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.swiper-slide img {
    height: 100%;
    width: auto;
    margin: auto;
}
.product-view .desc label {
    margin-bottom: 0;
    color: #777;
    line-height: 31px;   
    width: 80px; 
}
.product-view .desc .qty-value {
    width: 150px;
    margin-right: auto;
}
.product-view .desc .qty-value input {
    text-align: center;
}
.product-view .option-value {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.product-view .product-option-label {
    margin: 0 5px;
    cursor: pointer;

    text-align: center;
}
.product-view .product-option-label span {
    display: inline-block;
    width: 100%;    
    border: 1px solid #ddd;
}
.product-view .product-option-label input[type="radio"] {
    display: none;
}
.product-view .product-option-label input[type="radio"]:checked + span {
    border: 1px solid red;
    color: red;
}

.product-desc-table th,
.product-desc-table td {
    border-top: 0;
    padding: .5rem;
}

.product-name h5 {
    margin: 0;
}
.product-tags td {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.wishlist .fa {
    color: #dee2e6;
}
.wishlist.active .fa {
    color: #d39e00;
}
.wishlist [added] {
    display: none;
}
.wishlist [noadd] {
   display: inline-block;
}

.wishlist.active [added] {
    display: inline-block;
}
.wishlist.active [noadd] {
    display: none;
}