
.account-header .navbar {
    height: 80px;
}
.account-header .navbar > a {
    color: #21a399;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-left: 2rem;
    padding: 0;
}
.account-header .header-left {
    font-size: 1.2rem;
    padding-left: 2rem;
}
.account-header .header-right {
    font-size: 1rem;
    padding-right: 5rem;
}
