/**************************************************************************/
/************************* search *****************************************/
/**************************************************************************/
section.search {
    height: 9rem;
}
section.search input.form-control {
    width: 25rem;
}
section.search .input-col {
    position: relative;
}
section.search .input-col > .switch-bar {
    position: absolute;
    top: 0;
    transform: translate(0, -100%);
}
section.search .input-col > .switch-bar a {
    font-size: .8rem;
    margin-right: .5rem;
    color: #555;
    padding: .15rem .5rem;
}
section.search .input-col > .switch-bar a.active {
    background: #009688;
    color: #fff;
}

.home-menus {
    width:210px;
    min-width: 210px;
    position: relative;
}
.home-menus ul {
    list-style: none;
    padding-left: 0;
}
.home-menus > ul > li > a {
    display: block;
    width: 100%;
    line-height: 2rem;
    position: relative;
    padding: 0 1rem;
}
.home-menus > ul > li > a .fa {
    position: absolute;
    right: 0;
    line-height: 2rem;
    width: 2rem;
    text-align: center;
}
.home-menus a + div {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 211px;
    z-index: 100;
    background-color: #fff;
    height: 100%;
    width: 300px;
}
.home-menus li:hover a+ div {
    display: block;

}





/**************************************************************************/
/************************* hot-products  **********************************/
/**************************************************************************/
.product-list {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.product-list .section-content {
    padding-left: 1rem;
    padding-right:1rem;
}









