html, body {
    height: 100%;
    height: 100vh; 
}
body {
    min-width: 991px;
}


/**************************************************************************/
/************************* header *****************************************/
/**************************************************************************/
header.header > .navbar {
    background: #009688;
    color: #fff;
    height: 50px;
    font-size: .9rem;
}
header.header .navbar-brand {
    width: 8rem;
    text-align: center;
    color: #eee !important;
    font-weight: 900;
}
header.header .navbar-brand:hover {
    color: #fff !important;
}
header.header .navbar-nav .nav-link {
    padding: 0 .5rem;
    text-align: center;
    line-height: 40px;
}

header.header .navbar-nav2 .nav-link,
header.header .navbar-nav .nav-link.appd {
    width: 100px;
}



header.header .login-menus {
    text-align: center;

}
header.header .login-menus .dropdown-menu {
   border-radius: 0 !important;
   font-size: .8rem;
}
header.header .login-menus .dropdown-item:active,
header.header .login-menus .dropdown-item.active {
    background: transparent;
} 

header.header .login-menus .logout-link {
    color: #fd5151 !important;
    font-size: .9rem;
}




/**************************************************************************/
/*************************** main *****************************************/
/**************************************************************************/
main.content {
    min-height: calc(100vh - 50px);
}





/**************************************************************************/
/************************* footer *****************************************/
/**************************************************************************/
.footer {
    border-top: 1px solid #ddd;
    background: #e9ecef;
    padding: 0 1rem;
}
.footer .service-bar {
    text-align: center;
    padding: 1rem 0;
}
.footer .service-bar .fa {
    font-size: 2rem;
    padding: .5rem;
}
.footer .service-bar .fa.fa-heartbeat {
    color: #fd5151;
}
.footer .service-bar .fa.fa-internet-explorer {
    color: #007bff;
}
.footer .service-bar .fa.fa-ra {
    color: #009688;
}
.footer .service-bar [title] {
    font-size: 1.2rem;
    font-weight: 600;
}


.footer .link-bar {
    border-top: 1px solid #ccc;
    padding: 2rem;
}
.footer .link-bar ul {
    list-style: none;
    padding-left: 2rem;
    font-size: .8rem;
}
.footer .link-bar ul a {
    color: #555;
    line-height: 1.5rem;
}
.footer .link-bar [title] {
    padding-left: 2rem;
    padding-bottom: .5rem;
}









.footer .bottom-bar {
    text-align: center;
    font-size: .7rem;
    border-top: 1px solid #ccc;
    padding: .5rem 0;
}