/**
 * 成熟的样式.
 */
section .section-title,
.section .section-title {
    padding: 0 1rem;
}
section .section-content,
.section .section-content {
    padding: 1rem 2rem;
}
section .section-title h3,
.section .section-title h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
    line-height: 2.5rem;
}



.columns .column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.columns .column .title {
    display: block;
    width: 90px;
    padding-left: .5rem;
    padding-right: .5rem;
    white-space: nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.columns.columns-long .column .title {
    width: 120px;
    padding-left: .5rem;
    padding-right: .5rem;
}
.columns.columns-left .column .title {
    text-align: left;
}  
.columns.columns-right .column .title {
    text-align: right;
}

.columns .column .content {
    display: block;
    -ms-flex-positive: 1;
    flex-grow: 1;
}



.product {
    padding: .5rem;
    width: 15rem;
}
.product a {
    color: #555;
}
.product a:hover {
    text-decoration: none;
}
.product .fa-star-o {
    color: #cc9e18;
}
.product .card-img-top {
    height: 9.5rem;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.product .card-img-top > img {
    width: 100%;
}
.product .card-body {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.product .name {
    height: 3rem;
    line-height: 1.5rem;
    overflow: hidden;
}
.product .counters {
    padding: .25rem 0;
    font-size: .8rem;
}
.product .prices {
    line-height: 1.8rem;
}
.product [price] {
    color: #fd5151;
    font-size: 1rem;
    margin-right: .5rem;
}
.product [old-price] {
    color: #999;
    font-size: .8rem;
    vertical-align: bottom;
    text-decoration: line-through;
}